<h4 style='text-align: center'>Day 2</h4>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <ul id="day_picker" class='nav nav-pills'>
      <li class='active' id="day_1" data-day="0">
        <a>
          One
        </a>
      </li>
      <li id="day_2" data-day="1">
        <a  >
          Two
        </a>
      </li>
      <li id="day_3" data-day="2">
        <a >
          Three
        </a>
      </li>
    </ul>
  </div>
  <div id="day_panels" class='panel-body'>
  <h3>My Hotel</h3>
  <ul class="list-unstyled" id='Hotels_list'></ul>
  <h3>My Restaurants</h3>
  <ul class="list-unstyled" id='Restaurants_list'></ul>
  <h3>My Activities</h3>
  <ul class="list-unstyled" id='Activities_list'></ul>
  </div>
</div>
