<h4 style='text-align: center'>Day 2</h4>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <ul class='nav nav-pills'>
      <li>
        <a id="day_1" data-day="day_1" href='/'>
          One
        </a>
      </li>
      <li>
        <a id="day_2" data-day="day_2" href='/'>
          Two
        </a>
      </li>
      <li class='active' id="day_3" data-day="day_3">
        <a href='/'>
          Three
        </a>
      </li>
    </ul>
  </div>
  <div class='panel-body'>
  <h3>My Hotel</h3>
  <ul id='Hotels_list'></ul>
  <h3>My Restaurants</h3>
  <ul id='Restaurants_list'></ul>
  <h3>My Activities</h3>
  <ul id='Activities_list'></ul>
  </div>
</div>
